.edit{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 490px;
    color:red
}
.edit1{
    font-size: 1.4rem;
    color: rgb(38, 0, 255);
}
.body{
    background: blue;
}
.font-size{
    font-size: 30px;
}
